<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="SqlServer" connectionString="Server=DESKTOP-18M3J5U;database=hoadon;uid=sa;pwd=123456"
        providerName="System.Data.SqlClient" />
    <add name="ToanvaTrung_PhanMemQuanLySinhVien_19CT112.Properties.Settings.QLSVConnectionString"
        connectionString="Data Source=DESKTOP-18M3J5U;Initial Catalog=QLSV;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>